<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pinterest</title>
    <link rel="stylesheet" href="../stylesheets/explore.css">
    <link rel="stylesheet" href="../stylesheets/style.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.7.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <% include ./partials/header.ejs %>
  
    <div class="container pt-[15em]  bg-transparent pr-0" >
        <div class="column px-0 ">
        
          <div class="content-wrapper ">
            <div class="image-wrapper ">
              <div class="overlay">
              <div>
                
                <button class="save">Save</button>
              </div>
              <div>
                <button class="spheric-button">
                 Itachi Collections
                </button>
                <button class="round-button">
                  <img src="https://i.pinimg.com/236x/dd/47/7b/dd477b16004455ac697b89446ce0e44c.jpg" alt="">
                </button>
                <button class="round-button">
                  <img src="https://cdn-icons-png.flaticon.com/512/512/512142.png" alt="">
                </button>
              </div>
            </div>
               <img src="https://i.pinimg.com/236x/3a/e3/f4/3ae3f44f642d1f827d5c6714dfbab98b.jpg" alt="">
            </div>
            
          </div>
          <div class="content-wrapper ">
            <div class="image-wrapper">
              <div class="overlay">
              <div>
                <p>Creator</p>
                <button class="save">Save</button>
              </div>
              <div>
                <button class="spheric-button">
                  Harry Potter Collections
                </button>
                <button class="round-button">
                  <img src="https://cdn-icons-png.flaticon.com/512/3580/3580382.png" alt="">
                </button>
                <button class="round-button">
                  <img src="https://cdn-icons-png.flaticon.com/512/512/512142.png" alt="">
                </button>
              </div>
            </div>
               <img src="https://i.pinimg.com/236x/cf/04/c4/cf04c47bb9ff229d7219575aa0246654.jpg" alt="">
            </div>
            
          </div>
          <div class="content-wrapper">
            <div class="image-wrapper">
              <div class="overlay">
              <div>
                
                <button class="save">Save</button>
              </div>
              <div>
                <button class="spheric-button">
                  Cars collections
                </button>
                <button class="round-button">
                  <img src="https://cdn-icons-png.flaticon.com/512/3580/3580382.png" alt="">
                </button>
                <button class="round-button">
                  <img src="https://cdn-icons-png.flaticon.com/512/512/512142.png" alt="">
                </button>
              </div>
            </div>
               <img src="https://i.pinimg.com/236x/bd/6a/dc/bd6adcd84e724256ea468cd158287851.jpg" alt="">
            </div>
           
          </div>
          
        </div>
        <div class="column">
          <div class="content-wrapper">
            <div class="image-wrapper">
              <div class="overlay">
              <div>
                
                <button class="save">Save</button>
              </div>
              <div>
                <button class="spheric-button">
               Sasuke collections
                </button>
                <button class="round-button">
                  <img src="https://cdn-icons-png.flaticon.com/512/3580/3580382.png" alt="">
                </button>
                <button class="round-button">
                  <img src="https://cdn-icons-png.flaticon.com/512/512/512142.png" alt="">
                </button>
              </div>
            </div>
               <img src="https://i.pinimg.com/236x/66/61/e1/6661e1bc733eb2147276b7cad6d2e367.jpg" alt="">
            </div>
            
          </div>
          <div class="content-wrapper">
            <div class="image-wrapper">
              <div class="overlay">
              <div>
                <p>Creator</p>
                <button class="save">Save</button>
              </div>
              <div>
                <button class="spheric-button">
                  Shippuden
                </button>
                <button class="round-button">
                  <img src="https://cdn-icons-png.flaticon.com/512/3580/3580382.png" alt="">
                </button>
                <button class="round-button">
                  <img src="https://cdn-icons-png.flaticon.com/512/512/512142.png" alt="">
                </button>
              </div>
            </div>
               <img src="https://i.pinimg.com/236x/ec/52/9e/ec529e812c0a000900cd772e868601ef.jpg" alt="">
            </div>
           
          </div>
          <div class="content-wrapper w-full">
            <div class="image-wrapper">
              <div class="overlay">
              <div>
                <p>Creator</p>
                <button class="save">Save</button>
              </div>
              <div>
                <button class="spheric-button">
                  Solo leveling
                </button>
                <button class="round-button">
                  <img src="https://cdn-icons-png.flaticon.com/512/3580/3580382.png" alt="">
                </button>
                <button class="round-button">
                  <img src="https://cdn-icons-png.flaticon.com/512/512/512142.png" alt="">
                </button>
              </div>
            </div>
               <img src="https://i.pinimg.com/236x/ea/d8/17/ead8178578f8b876bc54d667c8a5f4f6.jpg" alt="">
            </div>
            
          </div>
        </div>
        <div class="column">
          <div class="content-wrapper">
            <div class="image-wrapper ">
              <div class="overlay">
              <div>
                <p>Creator</p>
                <button class="save">Save</button>
              </div>
              <div>
                <button class="spheric-button">
                  Spiderman
                </button>
                <button class="round-button">
                  <img src="https://cdn-icons-png.flaticon.com/512/3580/3580382.png" alt="">
                </button>
                <button class="round-button">
                  <img src="https://cdn-icons-png.flaticon.com/512/512/512142.png" alt="">
                </button>
              </div>
            </div>
               <img src="https://i.pinimg.com/236x/0e/22/4c/0e224cd4865bef54aeb1f4cc110b78dd.jpg" alt="">
            </div>
            
          </div>
          <div class="content-wrapper">
            <div class="image-wrapper">
              <div class="overlay">
              <div>
                <p>Creator</p>
                <button class="save">Save</button>
              </div>
              <div>
                <button class="spheric-button">
                Suzume Collections
                </button>
                <button class="round-button">
                  <img src="https://cdn-icons-png.flaticon.com/512/3580/3580382.png" alt="">
                </button>
                <button class="round-button">
                  <img src="https://cdn-icons-png.flaticon.com/512/512/512142.png" alt="">
                </button>
              </div>
            </div>
               <img src="https://i.pinimg.com/236x/af/69/07/af6907a1420c3528e6f6f8a50846825f.jpg" alt="">
            </div>
            
          </div>
          <div class="content-wrapper">
            <div class="image-wrapper">
              <div class="overlay">
              <div>
                <p>Creator</p>
                <button class="save">Save</button>
              </div>
              <div>
                <button class="spheric-button">
                 Jujutsu Kaisen collections
                </button>
                <button class="round-button">
                  <img src="https://cdn-icons-png.flaticon.com/512/3580/3580382.png" alt="">
                </button>
                <button class="round-button">
                  <img src="https://cdn-icons-png.flaticon.com/512/512/512142.png" alt="">
                </button>
              </div>
            </div>
               <img src="https://i.pinimg.com/236x/7a/a4/06/7aa4060fafddc8cdb4fd4deadf172032.jpg" alt="">
            </div>
            
          </div>
        </div>
        <div class="column">
          <div class="content-wrapper">
            <div class="image-wrapper">
              <div class="overlay">
              <div>
                <p>Creator</p>
                <button class="save">Save</button>
              </div>
              <div>
                <button class="spheric-button">
                  Demon Slayer collections
                </button>
                <button class="round-button">
                  <img src="https://cdn-icons-png.flaticon.com/512/3580/3580382.png" alt="">
                </button>
                <button class="round-button">
                  <img src="https://cdn-icons-png.flaticon.com/512/512/512142.png" alt="">
                </button>
              </div>
            </div>
               <img src="https://i.pinimg.com/236x/5a/45/c6/5a45c6068bf211413658e9f2b1fee2cc.jpg" alt="">
            </div>
            
          </div>
          <div class="content-wrapper">
            <div class="image-wrapper">
              <div class="overlay">
              <div>
                <p>Creator</p>
                <button class="save">Save</button>
              </div>
              <div>
                <button class="spheric-button">
                  Lofi
                </button>
                <button class="round-button">
                  <img src="https://cdn-icons-png.flaticon.com/512/3580/3580382.png" alt="">
                </button>
                <button class="round-button">
                  <img src="https://cdn-icons-png.flaticon.com/512/512/512142.png" alt="">
                </button>
              </div>
            </div>
               <img src="https://i.pinimg.com/236x/b4/78/59/b4785976ef63ea07c25e265e0dcb92d1.jpg" alt="">
            </div>
           
          </div>
          <div class="content-wrapper">
            <div class="image-wrapper">
              <div class="overlay">
              <div>
                <p>Creator</p>
                <button class="save">Save</button>
              </div>
              <div>
                <button class="spheric-button">
                  Solo leveling collections
                </button>
                <button class="round-button">
                  <img src="https://cdn-icons-png.flaticon.com/512/3580/3580382.png" alt="">
                </button>
                <button class="round-button">
                  <img src="https://cdn-icons-png.flaticon.com/512/512/512142.png" alt="">
                </button>
              </div>
            </div>
               <img src="https://i.pinimg.com/236x/82/fa/d4/82fad4aa0a13798be4b31e0e7476e119.jpg" alt="">
            </div>
            <p>Cool image</p>
          </div>
          <div class="content-wrapper">
            <div class="image-wrapper">
              <div class="overlay">
              <div>
                <p>Creator</p>
                <button class="save">Save</button>
              </div>
              <div>
                <button class="spheric-button">
                 Cars collections
                </button>
                <button class="round-button">
                  <img src="https://cdn-icons-png.flaticon.com/512/3580/3580382.png" alt="">
                </button>
                <button class="round-button">
                  <img src="https://cdn-icons-png.flaticon.com/512/512/512142.png" alt="">
                </button>
              </div>
            </div>
               <img src="https://i.pinimg.com/236x/12/e7/b7/12e7b7dfdb29b41d67b2ed7e62b39200.jpg" alt="">
            </div>
            <p>Cool image</p>
          </div>
        </div>
      </div>
</body>

</html>