<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pinterest</title>
</head>
<body>
    <html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
  <title>Pinteresting | Gallery Layout</title>
</head>
<!-- A Simple non functional Pinterest inspired page layout created using only HTML and CSS.
       Created by M. Hassler - Hassified -->
<link rel="stylesheet" href="../stylesheets/feed.css">
<link href="https://cdn.jsdelivr.net/npm/remixicon@3.7.0/fonts/remixicon.css" rel="stylesheet">

<script src="https://cdn.tailwindcss.com"></script>
<link rel='stylesheet' href='../stylesheets/style.css'>
<body>

  <% include ./partials/header.ejs %>
  <div class="grid">
    <div class="grid-item">
      <img src="https://i.pinimg.com/474x/41/21/cf/4121cfdb4a6142c1d4e4ea3f2f07736e.jpg" />
    </div>

    <div class="grid-item">
      <img src="https://i.pinimg.com/564x/9a/d1/2a/9ad12a4f1b52bdfbb8a44e3836ddf5e0.jpg" />
    </div>

    <div class="grid-item">
      <img src="https://i.pinimg.com/474x/9a/25/d6/9a25d6bc84cca349b16280036106ffe6.jpg" />
    </div>

    <div class="grid-item">
      <img src="https://i.pinimg.com/474x/2e/ef/23/2eef231ee04a6148572005ef61d608c0.jpg" />
    </div>

    <div class="grid-item">
      <img src="https://i.pinimg.com/474x/49/97/29/499729c588fb8db47303cea38d43e57c.jpg" />
    </div>

    <div class="grid-item">
      <img src="https://i.pinimg.com/474x/ef/e5/c1/efe5c1f3d3eab6124d8983be5d9d7160.jpg" />
    </div>

    <div class="grid-item">
      <img src="https://i.pinimg.com/474x/eb/41/c7/eb41c768e0cb9d86974e875c7f0e45f7.jpg" />
    </div>

    <div class="grid-item">
      <img src="https://i.pinimg.com/474x/8a/e1/35/8ae1358ede8f2b03dec7d391033728f7.jpg" />
    </div>

    <div class="grid-item">
      <img src="https://i.pinimg.com/474x/14/85/b7/1485b77917066ea5a3ba96562d6100d0.jpg" />
    </div>

    <div class="grid-item">
      <img src="https://i.pinimg.com/474x/80/95/05/809505b5ccccbf33a1d6312d7c854ef0.jpg" />
    </div>

    <div class="grid-item">
      <img src="https://i.pinimg.com/474x/66/61/e1/6661e1bc733eb2147276b7cad6d2e367.jpg" />
    </div>

    <div class="grid-item">
      <img src="https://i.pinimg.com/474x/56/50/ff/5650ff2a183fca99ead64414a0c825fe.jpg" />
    </div>

    <div class="grid-item">
      <img src="https://i.pinimg.com/474x/db/c5/6a/dbc56ae876e301b88f109ff47b3d7f08.jpg" />
    </div>

    <div class="grid-item">
      <img src="https://i.pinimg.com/474x/45/93/0f/45930fa94654e666727491926cd977b7.jpg" />
    </div>

    <div class="grid-item">
      <img src="https://i.pinimg.com/474x/87/34/ca/8734ca8b77d18e36ca02944f4cace976.jpg" />
    </div>

    <div class="grid-item">
      <img src="https://i.pinimg.com/474x/16/e7/0b/16e70b00f8a2ae5326cc34216b5649aa.jpg" />
    </div>

    <div class="grid-item">
      <img src="https://i.pinimg.com/474x/ac/e0/d8/ace0d8811ed864e3fb9bf64a8e11c719.jpg" />
    </div>

    <div class="grid-item">
      <img src="https://i.pinimg.com/474x/f0/bf/04/f0bf0489419fd0980e4bdced3754d944.jpg" />
    </div>

    <div class="grid-item">
      <img src="https://i.pinimg.com/474x/cf/a4/ce/cfa4cee0581281cf430bcbc5ae522073.jpg" />
    </div>

    <div class="grid-item">
      <img src="https://i.pinimg.com/474x/b7/25/3f/b7253f44cf3f0850e1290644835059a8.jpg" />
    </div>

  </div>

  <script>
    $(".grid").imagesLoaded(function() {
      $(".grid").masonry({
        itemSelector: ".grid-item"
      });
    });
  </script>
</body>

</html>
    
</body>
</html>